* {
    margin: 0;
    padding: 0;
}
/* расположение картинки на главном экране */
.banner { 
    z-index: -1;
    position: relative;
}
/* расположение логотипа */
.header_logo {
    position: absolute;
    left: 0px;
    top: 40px;
}
/* расположение меню */
.menu {
    position: absolute;
    right: 51px;
    top: 36px;
}

/* слоган */
.header p {
    position: absolute;
    font-family: Lora;
    font-weight: normal;
    font-size: 49px;
    color: #0d0d0d;
    top: 258px;
    left: 566px;
}
/* кнопка главном экране */
.header_button {
    position: absolute;
    width: 220px;
    height: 55px;
    border-radius: 27.5px;
    background: #cfab84;
    top: 987px;
    right: 45px;
    border: none;
}
/* слово на кнопке */
.header_button p {
    font-family: Lora;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #0d0d0d;
    top: 18px;
    left: 27px;
}
/* анимация кнопки */
.header_button p:hover {
    text-decoration: underline;
}
/* заголовок раздела "Ищут дом" */
.find-home h2 {
    position: absolute;
    top: 1159px;
    left: 864px;
    font-family:'Fraunces', serif;
    font-size: 40px;
    color: #0d0d0d;
    font-weight: normal;
}
/* стиль фото Троя */
.Troy_img {
    position: absolute;
    left: 110px;
    top: 1267px;
    padding-top: 0;
}
/* стиль для клички и возраста Троя */
.Troy p {
    position: absolute;
    font-size: 18px;
    text-align: left;
    color: #0d0d0d;
    left: 110px;
    padding-top: 0;
}
/* расположение клички Троя */
.Troy_name p {
    padding-top: 0px;
    top: 1955px;
}
/* расположение возраста Троя */
.Troy_age p {
    top: 1983px;
    padding-top: 0;
}
/* расположение фото Авы */
.Ava_img {
    position: absolute;
    left: 810px;
    top: 1267px;
}
/* стиль клички Авы */
.Ava_name p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 1676px;
    left: 810px;
    padding-top: 0;
}
/* стиль возраста Авы */
.Ava_age p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 1704px;
    left: 810px;
    padding-top: 0;
}
/* расположение фото Фреда */
.Fred_img {
    position: absolute;
    right: 112px;
    top: 1267px;
}
/* стиль клички Фреда */
.Fred_name p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 1701px;
    right: 395px;
    padding-top: 0;
}
/* стиль  возраста Фреда*/
.Fred_age p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 1729px;
    right: 354px;
    padding-top: 0;
}
/* расположение фото Даны */
.Dana_img {
    position: absolute;
    left: 111px;
    top: 2026px;
}
/* стиль клички Даны */
.Dana_name p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 2729px;
    left: 111px;
    padding-top: 0;
}
/* Стиль возраста Даны */
.Dana_age p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 2757px;
    left: 111px;
    padding-top: 0;
}
/* расположение фото Кузи */
.Kuzya_img {
    position: absolute;
    right: 476px;
    top: 1747px;
}
/* стиль клички Кузи */
.Kuzya_name p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 2435px;
    left: 810px;
    padding-top: 0;
}
/* стиль возраста Кузи */
.Kuzya_age p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 2463px;
    left: 810px;
    padding-top: 0;
}
/* расположение фото Мартина */
.Martin_img {
    position: absolute;
    right: 121px;
    top: 1916px;
}
/* стиль клички Мартина */
.Martin_name p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 2350px;
    right: 382px;
    padding-top: 0;
}
/* стиль возраста Мартина */
.Martin_age p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 2378px;
    right: 397px;
    padding-top: 0;
}
/* кнопка в разделе "Ищут дом" */
.find-home_button p {
    position: absolute;
    font-family: Lora;
    font-size: 25px;
    color: #0d0d0d;
    top: 2830px;
    left: 810px;
    padding-top: 0;
}
/* анимация кнопки в разделе "Ищут дом" */
.find-home_button p:hover {
    text-decoration: underline;
}
/* заголовок раздела "О нас" */
.About-us h2 {
    position: absolute;
    font-family: Lora;
    font-weight: normal;
    font-size: 40px;
    color: #0d0d0d;
    top: 3032px;
    left: 875px;
}
/* расположение картинки в разделе "О нас" */
.About_img {
    position: absolute;
    top: 3083px;
    left: 270px;
}
/* стиль краткого описания в разделе "О нас" */
.paragraph p {
    position: absolute;
    font-family: Lora;
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
    top: 3148px;
    left: 971px;
    right: 164px;
}
/* кнопка в разделе "О нас" */
.About-us_button {
    position: absolute;
    width: 153px;
    height: 55px;
    border-radius: 27.5px;
    background: #cfab84;
    top: 3554px;
    right: 299px;
    border: none;
}
/* стиль текста на кнопке в разделе "О нас" */
.About-us_button p {
    font-family: Lora;
    font-size: 16px;
    text-align: center;
    color: #0d0d0d;
}
/* анимация текста в разделе "О нас" */
.About-us_button p:hover {
    text-decoration: underline;
}
/* заголовок раздела "Нашли дом" */
.Finded-home h2 {
    position: absolute;
    font-family: Lora;
    font-weight: normal;
    font-size: 40px;
    color: #0d0d0d;
    top: 3779px;
    left: 861px;
}
/* расположение фото Ланы */
.Lana_img {
    position: absolute;
    top: 3939px;
    left: 223px;
}
/* стиль клички Ланы */
.Lana_name p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 4740px;
    left: 223px;
}
/* стиль возраста Ланы */
.Lana_age p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 4768px;
    left: 223px;
}
/* расположение фото Матильды */
.Matilda_img {
    position: absolute;
    top: 3905px;
    right: 187px;
}
/* стиль клички Матильды */
.Matilda_name p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 4729px;
    right: 735px;
}
/* стиль возраста Матильды */
.Matilda_age p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 4757px;
    right: 779px;
}
/* расположение фото Фокси */
.Foxy_img {
    position: absolute;
    top: 4821px;
    left: 223px;
}
/* стиль клички Фокси */
.Foxy_name p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 5364px;
    left: 223px;
}
/* стиль возраста Фокси */
.Foxy_age p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 5392px;
    left: 223px;
}
/* расположение фото Тимофея */
.Timofey_img {
    position: absolute;
    top: 4807px;
    right: 187px;
}
/* стиль клички Тимофея */
.Timofey_name p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 5561px;
    right: 740px;
}
/* стиль возраста Тимофея */
.Timofey_age p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #0d0d0d;
    top: 5589px;
    right: 768px;
}
/* заголовок раздела "Новости" */
.News h2 {
    position: absolute;
    font-family: Lora;
    font-weight: normal;
    font-size: 40px;
    color: #0d0d0d;
    top: 5724px;
    left: 800px;
}
/* расположение фото первой новости */
.news1_img {
    position: absolute;
    top: 5835px;
    left: 235px;
}
/* расположение фото второй новости */
.news2_img {
    position: absolute;
    top: 5835px;
    right: 236px;
}
/* расположение левой стрелки */
.Arrow-left {
    position: absolute;
    top: 6086px;
    left: 100px;
}
/* расположение правой стрелки */
.Arrow-right {
    position: absolute;
    top: 6069px;
    right: 100px;
}
/* кнопка в разделе "Новости" */
.News_button p {
    position: absolute;
    font-family: Lora;
    font-size: 17px;
    color: #0d0d0d;
    top: 6398px;
    right: 87px;
}
/* анимация текста в разделе "Новости" */
.News_button p:hover {
    text-decoration: underline;
}
/* заголовок раздела "Галерея" */
.Gallery h2 {
    position: absolute;
    font-family: Lora;
    font-weight: normal;
    font-size: 40px;
    color: #0d0d0d;
    top: 6543px;
    left: 894px;
}
/* заголовок раздела "Видео" */
.Video h3 {
    position: absolute;
    font-family: Lora;
    font-weight: normal;
    font-size: 40px;
    color: #0d0d0d;
    top: 6642px;
    left: 153px;
}
/* расположение первого видео */
.Video1 {
    position: absolute;
    top: 6751px;
    left: 128px;
}
/* расположение второго видео */
.Video2 {
    position: absolute;
    top: 6746px;
    left: 595px;
}
/* расположение третьего видео */
.Video3 {
    position: absolute;
    top: 7004px;
    left: 128px;
}
/* расположение четвертого видео */
.Video4 {
    position: absolute;
    top: 7015px;
    left: 603px;
}
/* заголовок раздела "Фото" */
.Photo h3 {
    position: absolute;
    font-family: Lora;
    font-weight: normal;
    font-size: 40px;
    color: #0d0d0d;
    top: 6642px;
    right: 641px;
}
/* расположение первой фотографии */
.Photo1 {
    position: absolute;
    top: 6751px;
    right: 477px;
}
/* расположение второй фотографии */
.Photo2 {
    position: absolute;
    top: 6751px;
    right: 63px;
}
/* расположение третьей фотографии */
.Photo3 {
    position: absolute;
    top: 6957px;
    right: 63px;
}
/* стиль подвала сайта */
.Footer {
    position: absolute;
    top: 7379px;
    width: 100%;
    height: 393px;
    background: #e5e1dd;
}
/* расположение логотипа в подвале */
.Footer_logo {
    position: absolute;
    bottom: 226px;
}
/* стиль для текста в меню подвала */
.Footer_menu p {
    font-family: 'Fraunces', serif;
    position: absolute;
    font-size: 18px;
    color: #0d0d0d;
    left: 444px;
}
/* анимация для текста в подвале */
.Footer_menu p:hover {
    text-decoration: underline;
}
/* расположение текста "О нас" */
.Footer_about p {
    bottom: 295px;
}
/* расположение текста "Новости" */
.Footer_news p {
    bottom: 246px;
}
/* расположение текста "Питомцы" */
.Footer_pet p {
    bottom: 295px;
    left: 751px;
}
/* расположение текста "Контакты" */
.Footer_contact p {
    bottom: 246px;
    left: 751px;
}
/* стиль адреса организации */
.Address p {
    position: absolute;
    font-family: Lora;
    font-size: 18px;
    color: #797775;
    left: 444px;
    bottom: 66px;
}
/* кнопка в подвале */
.Footer_button {
    position: absolute;
    width: 153px;
    height: 55px;
    border-radius: 27.5px;
    background: #fff;
    border: none;
    bottom: 82px;
    left: 40px;
}
/* текст кнопки в подвале */
.Footer_button p {
    font-family: Lora;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #0d0d0d;
}
/* анимация текста в подвале */
.Footer_button p:hover {
    text-decoration: underline;
}
/* стиль текста "Мы в сети" */
.Media p {
    position: absolute;
    font-size: 18px;
    text-align: left;
    color: #0d0d0d;
    bottom: 149px;
    right: 243px;
}
/* расположение логотипа Facebook */
.Facebook {
    position: absolute;
    bottom: 98px;
    right: 304px;
}
/* расположение логотипа Instagram */
.Instagram {
    position: absolute;
    bottom: 99px;
    right: 259px;
}
/* расположение логотипа Вконтакте */
.Vk {
    position: absolute;
    bottom: 102px;
    right: 205px;
}
/* расположение логотипа Youtube */
.Youtube {
    position: absolute;
    bottom: 102px;
    right: 158px;
}
/* расположение логотипа Twitter */
.Twitter {
    position: absolute;
    bottom: 101px;
    right: 110px;
}
/* располжение текста работы сайта */
.year p {
    position: absolute;
    font-size: 18px;
    color: rgba(13, 13, 13, 0.5);
    bottom: 30px;
    left: 915px;
}